@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #043d4a;
}

img,
svg {
    vertical-align: middle;
    max-width: 100%;
}

.header .navbar-brand img {
    width: 450px;
}

.marketplace-section .market-content h2 {
    color: #3498db;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

.theme-color {
    color: #3498db;
}
.cmm-card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.used-cmm-request img {
    width: 35%;
    height: 90px;
}
.used-cmm-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.used-cmm-content {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.marketplace-section .market-content p {
    color: #000000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
}

.Navbar-section {
    background: #043d4a;
}

.Navbar-section .navbar {
    background: #043d4a;
    padding: 4px;
}

.Navbar-section .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.Navbar-section .navbar-nav .nav-item .nav-link {
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.Navbar-section .navbar-nav .nav-item.active a {
    font-weight: 600;
}

.Navbar-section .navbar-nav .nav-item .nav-link:hover::after,
.Navbar-section .navbar-nav .nav-item.active .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    transition: width 0.3s ease;
}

.Navbar-section .navbar-toggler:focus {
    box-shadow: none;
}

.Navbar-section #navbarNav .nav-item a .badge {
    color: #000000;
    font-size: 14px;
    border-radius: 50rem;
    background-color: #ffffff;
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
}

.footer {
    background: #043d4a;
}

/* Demo Page */
.cust-sidebar {
    position: sticky;
    top: 0;
    /* height: 100vh; */
    overflow-y: auto;
    /* background: linear-gradient(to bottom, #f93 0, #f93 30%, #ff8118 100%); */
    /* background: linear-gradient(to bottom, #ff9933 0, #f93, #ff8118); */
}

.col-md-2.gallery.p-3 img {
    border-radius: 10px;
}

.gallery {
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
    background: linear-gradient(to bottom, #f93 0, #f93 30%, #ff8118 100%);
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.menu-item {
    cursor: pointer;
}

.menu-item ul {
    list-style-type: none;
    padding-left: 20px;
}

#leftside-navigation ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#leftside-navigation ul li {
    display: block;
    width: 100%;
    vertical-align: middle;
    list-style-type: none;
}

#leftside-navigation ul li.open > p > .arrow-icon {
    transform: rotate(90deg);
}

#leftside-navigation ul li p {
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 8px 8px 8px 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#leftside-navigation ul li p:hover {
    font-weight: 600;
}

#leftside-navigation ul li p a {
    width: auto;
    max-width: calc(100% - 40px);
    color: #fff;
}

.category-title {
    color: #d10000;
    text-align: center;
    padding-bottom: 15px;
}

#leftside-navigation ul li p span {
    display: inline-block;
}

#leftside-navigation ul li p .arrow-icon {
    background: transparent;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

#leftside-navigation ul li p .arrow-icon img {
    display: flex;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

#leftside-navigation ul ul {
    padding-left: 10px;
}

#leftside-navigation ul ul li {
    border-bottom: none;
    padding-left: 8px;
}

.infobox {
    line-height: 30px;
}

.infobox .tab-content .table-outer p {
    font-size: 18px;
}

.infobox .nav-tabs .nav-link {
    background: #fff;
    border-radius: 0;
    border: none;
    color: #000;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
}

#leftside-navigation ul {
    position: relative;
}

#leftside-navigation ul li.parent p {
    z-index: 2;
    position: relative;
    background: #ff8118;
    margin-left: 10px;
    width: auto;
}

#leftside-navigation ul::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: -60px;
    right: 0;
    top: 20px;
    display: block;
    z-index: 0;
    background: #000;
}

.infobox .nav-tabs {
    border: none;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

/* .infobox .nav-tabs .nav-link.active {
    font-weight: 600;
    transition: 0.3s ease;
    background: antiquewhite;
}

.infobox .nav-tabs .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ff8118;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}

.infobox .nav-tabs .nav-link.active::after,
.infobox .nav-tabs .nav-link:hover::after {
    opacity: 1;
} */

/* .infobox .tab-content {
    overflow: auto;
    max-height: 400px;
} */

.gallery::-webkit-scrollbar-track,
.infobox .tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.gallery::-webkit-scrollbar,
.infobox .tab-content::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

.gallery::-webkit-scrollbar-thumb,
.infobox .tab-content::-webkit-scrollbar-thumb {
    background-color: #043d4a;
}

.error {
    color: #dc3545;
    font-size: 0.875rem;
}

.checbox-group label.form-label {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    width: calc(50% - 10px);
}
.select-product .table thead th,
.select-product .table tbody td {
    border: none;
}
.select-product .table tbody td {
    font-weight: 600;
}
.select-product .table {
    font-size: 16px;
}
.table-outer {
    /* margin: 20px 0px 50px; */
    margin: 20px;
}

.table-outer p {
    margin: 0;
}

.table-outer table tr td:first-child p {
    font-size: 16px;
    font-weight: 600;
}

/* .table-outer table tr td:first-child p.small-text {
    font-size: 14px;
    font-weight: 400;
} */

.table-outer table {
    background: #f5f5f5;
    border: 1px solid #000;
}

.table-outer table tr:nth-child(even) {
    background: #fff;
}

.table-outer tr th {
    font-weight: 600;
    border: 1px solid;
}

.table-outer tr td {
    /* font-weight: 600; */
    border-right: 1px solid;
}

.cust-form-sec {
    background: #f5f5f5;
    /* max-width: 90%; */
    margin: 90px 0 0 0;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    border: 1px solid lightgray;
}

.cust-discount {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    right: 70px;
    border-radius: 50px;
}

.cust-discount img.cust-img {
    width: 100%;
    height: 100%;
}

/* .cust-form-sec form {
    width: 100%;
    margin: 25px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
} */

.cust-form-sec form .w-33 {
    width: calc(33.33% - 14px);
}

.activeCate {
    font-weight: 600 !important;
    color: #d10000 !important;
}

a.tab-iiner-cust-link {
    display: flex;
    border: 1px solid #ff8e27;
    align-items: center;
    background: #ffc08b;
    padding: 10px;
    gap: 20px;
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 10px;
}

a.tab-iiner-cust-link img {
    display: flex;
}

a.tab-iiner-cust-link span {
    max-width: 200px;
}

a.tab-iiner-cust-link:hover {
    font-weight: 600;
}

.table-outer table td {
    width: 50%;
}
table a {
    text-decoration: none;
    color: #0079c1;
}
.table-outer.cust-table tr td {
    width: 25%;
    border-right: 1px solid #000;
}

#leftside-navigation > ul {
    background: #ff8118;
    position: relative;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    margin-bottom: 12px;
}

#leftside-navigation > ul::after {
    width: 1px;
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0;
    background: #000;
}

.cust-form-sec #product-form .select-product {
    background: linear-gradient(to bottom, #f93 0, #f93 30%, #ff8118 100%);
    padding: 20px;
    border-radius: 10px;
}

.category .probe-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category .probe-link:hover {
    transform: scale(1.06);
}

.category .probe-link img {
    width: 120px;
    height: 120px;
    padding: 0 20px;
    object-fit: contain;
    object-position: center;
}

.category .probe-link .info .title {
    color: #0079c1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.category .probe-link .info .desc {
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: calc(1.5em * 4);
}

/* .cate-sec {
    padding-bottom: 2rem;
} */

/* #leftside-navigation .main {
    font-weight: 600;
} */

.ppt-section {
    list-style: none;
    font-size: 16px;
}

.ppt-section a {
    text-decoration: none;
}
#product-form table thead th {
    font-size: 20px;
}
#product-form table tbody .form-check-input {
    width: 20px;
    height: 20px;
}
#product-form table tbody #discounted-price {
    color: #008900;
}

.category .list-inline {
    /* background: #faebd7; */
    border: none;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.category .list-inline .list-inline-item {
    /* flex: 0 1 calc(16.66% - 15px); */
    flex: 0 1 calc(24.66% - 15px);
    box-sizing: border-box;
    margin-bottom: 0px;
}

.category .list-inline .tab-link {
    width: 100%;
    display: block;
    text-align: center;
    background: #faebd7;
    border-radius: 10px;
    border: none;
    color: #000;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
    padding: 0.75rem 2rem;
    text-decoration: none;
}
.category .list-inline .tab-link.active {
    font-weight: 600;
    transition: 0.3s ease;
    background: linear-gradient(
        180deg,
        rgba(255, 153, 51, 1) 0%,
        rgba(255, 116, 0, 1) 69%
    );
    border-radius: 10px;
}

/* .category .list-inline .tab-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #141414;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
} */

.category .list-inline .tab-link.active::after,
.category .list-inline .tab-link:hover::after {
    opacity: 1;
}

.Probe-cart {
    position: relative;
    padding: 40px 0;
}
.Probe-cart .table > :not(caption) > * > * {
    vertical-align: middle;
}

.cart-page {
    margin: 20px auto;
    max-width: 900px;
}

.cart-total {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.checkout-btn {
    text-align: right;
}

.probe-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    margin-right: 1rem;
    border-radius: 0.375rem;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group button {
    width: 35px;
    height: 31px;
    font-size: 18px;
    padding: 0;
    border: 1px solid #dee2e6;
}

.input-group input {
    text-align: center;
    padding: 0 5px;
}

.infobox .card .info p {
    margin-bottom: 0 !important;
}

.infobox .probe-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
}

.part-img {
    /* max-width: 600px;
    border: 1px solid gray; */
    border-radius: 15px;
    object-fit: contain;
    object-position: center;
}
.text-justify {
    text-align: justify;
    font-size: 16px;
}
.probes-container {
    margin: 0 70px !important;
}
.probe-item {
    border: 0.5px solid rgb(180, 180, 180);
    border-radius: 15px;
    padding-top: 15px;
}
.category-title {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.infobox .nav-tabs .nav-link::after {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15) !important;
}

.probe-img-sec img {
    height: 100px;
    /* padding: 0 !important; */
}

.nav-tabs.probes-tabs .nav-link.active .probe-item {
    border: 1px solid #ff8118;
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15) !important;
}

@media (min-width: 992px) {
    .infobox .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
    }
}

/* 13-12-2024 CSS Start */

@media screen and (max-width: 1440px) {
    .category .probe-link .info .title {
        font-size: 16px;
        line-height: 24px;
    }
    .infobox .product-item-name {
        font-size: 24px;
        line-height: 36px;
    }
    #product-form table thead th,
    .infobox .tab-content .table-outer p {
        font-size: 16px;
        line-height: 28px;
    }
    .cust-form-sec {
        margin: 80px 0 0 0;
        padding: 25px;
    }
    .Navbar-section .navbar-nav .nav-link {
        font-size: 18px;
        line-height: 24px;
    }
    .header .navbar-brand img {
        width: 380px;
    }
    .category-title {
        font-size: 28px;
        line-height: 36px;
    }
}

@media screen and (max-width: 1280px) {
    .header .navbar-brand img {
        width: 320px;
    }
    .Navbar-section .navbar-nav .nav-link {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 991px) {
    .category .probe-link img {
        width: 100px;
        height: 80px;
        padding: 0px 10px;
    }
    .category .probe-link {
        margin-bottom: 20px;
    }
    .category .list-inline {
        padding: 15px 0 0;
    }
    .category .list-inline .tab-link {
        padding: 0.75rem 1rem;
    }
    .Navbar-section .navbar .navbar-brand {
        width: 100%;
        max-width: 300px;
        padding: 10px;
        margin: 0px;
        background: #ffffff;
    }
    .Navbar-section .navbar > .container {
        max-width: 100%;
    }
    .Navbar-section .navbar {
        background: #043d4a;
        padding: 15px 20px;
        border-radius: 6px;
    }

    .Navbar-section .navbar-toggler {
        background: #ffffff;
        padding: 8px 12px;
    }
    .Navbar-section .navbar .navbar-nav {
        padding: 10px 0;
    }
    .Navbar-section .navbar-nav .nav-item .nav-link:hover::after,
    .Navbar-section .navbar-nav .nav-item.active .nav-link::after {
        display: none;
    }
    .Navbar-section .navbar-nav .nav-item .nav-link {
        padding-bottom: 10px;
        font-size: 16px;
    }
    .category .list-inline .list-inline-item:not(:last-child) {
        margin-right: 0px;
    }
    .Probe-cart .table > :not(caption) > * > * {
        white-space: nowrap;
    }
    .Navbar-section .navbar-nav .nav-item .nav-link .start-100 {
        left: 100px !important;
    }
}

@media screen and (max-width: 767px) {
    .cust-form-sec #AddToCart {
        width: 200px !important;
    }
    .category-title {
        font-size: 24px;
        line-height: 36px;
    }
    .cust-discount {
        width: 80px;
        height: 80px;
        top: -45px;
        right: 20px;
    }
    .cust-sidebar {
        position: relative;
        padding: 0 20px;
    }
    .Navbar-section .navbar .navbar-brand {
        max-width: 240px;
    }
    .category .list-inline {
        padding: 0px;
    }
    .py-4.category {
        padding-top: 0.5rem !important;
    }
}
@media screen and (max-width: 576px) {
    .cust-form-sec #product-form .select-product {
        padding: 10px;
    }
    .Navbar-section .navbar {
        padding: 10px;
    }
    .category-title {
        font-size: 18px;
        line-height: 28px;
    }
    .infobox.p-4 {
        padding: 10px 10px 0 !important;
    }
    .infobox .product-item-name {
        font-size: 20px;
        line-height: 30px;
    }
    .category .list-inline .list-inline-item {
        flex: 0 1 calc(50% - 15px);
    }
    .Navbar-section .navbar .navbar-brand {
        width: 100%;
        max-width: 200px;
    }
    .marketplace-section .market-content p {
        font-size: 18px;
        line-height: 28px;
    }
    .marketplace-section .market-content h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .cust-form-sec #AddToCart {
        width: 160px !important;
    }
}
