@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
}

img,
svg {
    vertical-align: middle;
    max-width: 100%;
}

.header .navbar-brand img {
    width: 450px;
}

.marketplace-section .market-content h2 {
    color: #3498db;
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
}

.marketplace-section .market-content p {
    color: #000000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    text-align: justify;
}

.Navbar-section {
    background: #043d4a;
}

.Navbar-section .navbar {
    background: #043d4a;
    padding: 4px;
}

.Navbar-section .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.Navbar-section .navbar-nav .nav-item .nav-link {
    position: relative;
    padding-bottom: 5px;
    transition: all 0.3s ease;
}

.Navbar-section .navbar-nav .nav-item.active a {
    font-weight: 600;
}

.Navbar-section .navbar-nav .nav-item .nav-link:hover::after,
.Navbar-section .navbar-nav .nav-item.active .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #dddddd;
    transition: width 0.3s ease;
}

.Navbar-section .navbar-toggler:focus {
    box-shadow: none;
}

.footer {
    background: #043d4a;
}

/* Demo Page */
.cust-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    /* background: linear-gradient(to bottom, #f93 0, #f93 30%, #ff8118 100%); */
    /* background: linear-gradient(to bottom, #ff9933 0, #f93, #ff8118); */
}

.col-md-2.gallery.p-3 img {
    border-radius: 10px;
}

.gallery {
    position: sticky;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
    background: linear-gradient(to bottom, #f93 0, #f93 30%, #ff8118 100%);
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.menu-item {
    cursor: pointer;
}

.menu-item ul {
    list-style-type: none;
    padding-left: 20px;
}

#leftside-navigation ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

#leftside-navigation ul li {
    display: block;
    width: 100%;
    vertical-align: middle;
    list-style-type: none;
}

#leftside-navigation ul li.open > p > .arrow-icon {
    transform: rotate(90deg);
}

#leftside-navigation ul li p {
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 5px 5px 5px 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#leftside-navigation ul li p:hover {
    font-weight: 600;
}

#leftside-navigation ul li p a {
    width: auto;
    max-width: calc(100% - 40px);
    color: #fff;
}

.category-title {
    color: #d10000;
    text-align: center;
    padding-bottom: 15px;
}

#leftside-navigation ul li p span {
    display: inline-block;
}

#leftside-navigation ul li p .arrow-icon {
    background: transparent;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
}

#leftside-navigation ul li p .arrow-icon img {
    display: flex;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

#leftside-navigation ul ul {
    padding-left: 10px;
}

#leftside-navigation ul ul li {
    border-bottom: none;
    padding-left: 8px;
}

.infobox {
    line-height: 30px;
}

.infobox .nav-tabs .nav-link {
    background: #fff;
    border-radius: 0;
    border: none;
    color: #000;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
}

#leftside-navigation ul {
    position: relative;
}

#leftside-navigation ul li.parent p {
    z-index: 2;
    position: relative;
    background: #ff8118;
    margin-left: 10px;
    width: auto;
}

#leftside-navigation ul::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: -60px;
    right: 0;
    top: 20px;
    display: block;
    z-index: 0;
    background: #000;
}

.infobox .nav-tabs {
    border: none;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.infobox .nav-tabs .nav-link.active {
    font-weight: 600;
    transition: 0.3s ease;
    background: antiquewhite;
}

.infobox .nav-tabs .nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #ff8118;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}

.infobox .nav-tabs .nav-link.active::after,
.infobox .nav-tabs .nav-link:hover::after {
    opacity: 1;
}

/* .infobox .tab-content {
    overflow: auto;
    max-height: 400px;
} */

.gallery::-webkit-scrollbar-track,
.infobox .tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.gallery::-webkit-scrollbar,
.infobox .tab-content::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

.gallery::-webkit-scrollbar-thumb,
.infobox .tab-content::-webkit-scrollbar-thumb {
    background-color: #043d4a;
}

.error {
    color: #dc3545;
    font-size: 0.875rem;
}

.checbox-group label.form-label {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
    width: calc(50% - 10px);
}
.select-product .table thead th,
.select-product .table tbody td {
    border: none;
}
.select-product .table tbody td {
    font-weight: 600;
}
.select-product .table {
    font-size: 16px;
}
.table-outer {
    /* margin: 20px 0px 50px; */
    margin: 20px;
}

.table-outer p {
    margin: 0;
}

.table-outer table tr td:first-child p {
    font-size: 16px;
    font-weight: 600;
}

.table-outer table tr td:first-child p.small-text {
    font-size: 14px;
    font-weight: 400;
}

.table-outer table {
    background: #f5f5f5;
    border: 1px solid #000;
}

.table-outer table tr:nth-child(even) {
    background: #fff;
}

.table-outer tr th {
    font-weight: 600;
    border: 1px solid;
}

.table-outer tr td {
    /* font-weight: 600; */
    border-right: 1px solid;
}

.cust-form-sec {
    background: #f5f5f5;
    /* max-width: 90%; */
    margin: 90px 0 0 0;
    padding: 30px;
    border-radius: 20px;
    position: relative;
    border: 1px solid lightgray;
}

.cust-discount {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    right: 70px;
    border-radius: 50px;
}

.cust-discount img.cust-img {
    width: 100%;
    height: 100%;
}

/* .cust-form-sec form {
    width: 100%;
    margin: 25px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
} */

.cust-form-sec form .w-33 {
    width: calc(33.33% - 14px);
}

.activeCate {
    font-weight: 600 !important;
    color: #d10000 !important;
}

a.tab-iiner-cust-link {
    display: flex;
    border: 1px solid #ff8e27;
    align-items: center;
    background: #ffc08b;
    padding: 10px;
    gap: 20px;
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 10px;
}

a.tab-iiner-cust-link img {
    display: flex;
}

a.tab-iiner-cust-link span {
    max-width: 200px;
}

a.tab-iiner-cust-link:hover {
    font-weight: 600;
}

.table-outer table td {
    width: 50%;
}
table a {
    text-decoration: none;
    color: #0079c1;
}
.table-outer.cust-table tr td {
    width: 25%;
    border-right: 1px solid #000;
}

#leftside-navigation > ul {
    background: #ff8118;
    position: relative;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
    margin-bottom: 12px;
}

#leftside-navigation > ul::after {
    width: 1px;
    height: 100%;
    position: absolute;
    content: "";
    top: 0px;
    bottom: 0px;
    left: 0;
    background: #000;
}

.cust-form-sec form .select-product {
    background: linear-gradient(to bottom, #f93 0, #f93 30%, #ff8118 100%);
    padding: 20px;
    border-radius: 10px;
}

.category .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category .card:hover {
    transform: scale(1.06);
}

.category .card img {
    width: 150px;
    height: 130px;
    padding: 0 20px;
}

.category .card .info .title {
    color: #0079c1;
}

.category .card .info .desc {
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: calc(1.5em * 4);
}

/* .cate-sec {
    padding-bottom: 2rem;
} */

#leftside-navigation .main {
    font-weight: 600;
}

.ppt-section {
    list-style: none;
    font-size: 16px;
}

.ppt-section a {
    text-decoration: none;
}
#product-form table thead th {
    font-size: 20px;
}
#product-form table tbody .form-check-input {
    width: 20px;
    height: 20px;
}
#product-form table tbody #discounted-price {
    color: #008900;
}
@media screen and (max-width: 991px) {
    .Navbar-section .navbar {
        background: #043d4a;
        padding: 10px;
        border-radius: 6px;
    }

    .Navbar-section .navbar-toggler {
        background: #ffffff;
        padding: 8px 12px;
    }
}
